// app global css in SCSS form
body {
  color: white;
  background-color: $dark;
}
p a,
span a {
  font-weight: 500;
  color: $warning;
  transition: color 0.25s;
  text-decoration: inherit;
}

p a:hover,
span a:hover {
  color: #fad56f;
}
