// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap");

$ff-chichilo: "Saira Condensed", sans-serif;

$primary: #d3baf2;
$secondary: #66418b;
$accent: #115179;

$dark: #2b3156;
$dark-page: #ffffff1a;

$positive: #00eb7d;
$negative: #ffcccc;
$info: #2cb5da;
$warning: #f2c037;
